body {
	margin: 0;
	padding: 0;
}

h1 {
  text-align: center;
  width: 100%;
  line-height: 120%;
  padding-top: 20px;
  font-family: Arial, sans-serif;
  color: rgb(66,66,66);
  letter-spacing: -0.05em;
}

#list {
	height: 75%;
	width: 25%;
	border: 1px solid #aaa;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	background-color: #777;
}

#scroller, html {
	overflow-y: auto;
}

#container {
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

}
/*
#container div.media {
	display: -moz-box;
	align: center;
}

#container div.media {
    margin: 10px 15px;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	-moz-box-align: start;
	-webkit-box-align: start;
	box-align: start;
}

#container div.media div.poster {

    margin: 0;
    padding: 0;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	width:300px;
	-moz-box-align: start;
	-webkit-box-align: start;
	box-align: start;
}

#container div.media div.poster p {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
	height: 40px;
	border-bottom: 2px solid black;
	-webkit-box-shadow: rgba(0,0,0,0.8) 0 10px 10px;
	box-shadow: rgba(0,0,0,0.8) 0 10px 10px;
	background: rgba(255,255,255,0.5);
	text-color: black;
	text-align: center;
	
}

#container div.media div.poster img {
    position: relative;
    z-index: 5;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align: center;
	margin-top: -42px;
}

#container div.media div.poster p.runtime {
	-moz-box-align: end;
	-webkit-box-align: end;
	box-align: end;
	margin-top: -84px;
	border-bottom: 0px;
	border-top: 2px solid black;
	-webkit-box-shadow: rgba(0,0,0,0.8) 0 -10px 10px;
	box-shadow: rgba(0,0,0,0.8) 0 -10px 10px;
}


*/

#container .mosaic-block {
	width:300px;
	height:450px;
}

#container .row {
	margin-left: 20px;
}

#container div.media webview {
	width:300px;
	height: 450px;
}

#container div.media div.poster{ width:300px; margin:20px auto; padding:5px 5px; }
.clearfix{ display: block; height: 0; clear: both; visibility: hidden; }

#container div.media .title {
	font: 21px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#FFF;
	text-shadow:1px 1px 0 rgb(0,0,0);
}

		
.details{ margin:15px 20px; }
h3{ font:300 16px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height:160%; letter-spacing:0.15em; color:#fff; text-shadow:1px 1px 0 rgb(0,0,0); }
